name: Deployment

on:
  push:
    branches: [main]

permissions:
  id-token: write
  contents: write
  pull-requests: write

jobs:
  deployment:
    name: Release new version
    if: github.repository_owner == 'MeticulousHome'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Prepare Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          registry-url: 'https://registry.npmjs.org'
          scope: '@meticulous-home'
          #token: ${{ secrets.NPM_TOKEN }}

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Commit and Push to Built Branch
        run: |
          git config --global user.email "mimoja@meticuloushome.com"
          git config --global user.name "Mimoja Build Bot"
          git checkout -b dist
          git add -f dist/
          git commit -m "Build and deploy"
          git push -f origin dist

      - name: Publish to NPM
        id: publish
        uses: JS-DevTools/npm-publish@v4
        with:
          token: ${{ secrets.NPM_TOKEN }}
          access: public
          ignore-scripts: true

      # - name: "Create GitHub release: ${{ steps.publish.outputs.version }}"
      #   uses: softprops/action-gh-release@v2
      #   with:
      #     files: package.json dist/*
      #     token: ${{ secrets.GITHUB_TOKEN }}
      #     tag_name: "v${{ steps.publish.outputs.version }}"
      #     generate_release_notes: true
